<div>
  <h3>Expected behaviour</h3>
  <ul>
    <li>No validation before submitting</li>
    <li>Live validation after submitting</li>
  </ul>
</div>

<hr>

<h2>Reactive Form</h2>
<form [formGroup]="form">
  Name*<input formControlName="name">
  <app-error-message [formElement]="form.get('name')"></app-error-message>
  <fieldset formGroupName="address">
    <legend>Address</legend>
    Zip Code*<input formControlName="zipCode">
    <app-error-message [formElement]="form.get('address.zipCode')"></app-error-message>
    City<input formControlName="city">
  </fieldset>
  <button type="submit">Submit</button>
</form>

<h2>Template Drive Form</h2>
<form #form2="ngForm">
  Name*<input name="name" ngModel required>
  <app-error-message [formElement]="form2.form.get('name')"></app-error-message>
  <fieldset ngModelGroup="address">
    <legend>Address</legend>
    Zip Code*<input name="zipCode" ngModel required>
    <app-error-message [formElement]="form2.form.get('address.zipCode')"></app-error-message>
    City<input name="city" ngModel>
  </fieldset>
  <button type="submit">Submit</button>
</form>
